In [1]:
import pandas as pd 
import os

In [2]:
df = pd.read_csv('./styles.csv')
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [3]:
available_images = os.listdir('./images')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44444 entries, 0 to 44443
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  44444 non-null  int64
 1   gender              44444 non-null  object
 2   masterCategory      44444 non-null  object
 3   subCategory         44444 non-null  object
 4   articleType         44444 non-null  object
 5   baseColour          44429 non-null  object
 6   season              44423 non-null  object
 7   year                44443 non-null  float64
 8   usage               44127 non-null  object
 9   productDisplayName  44437 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 3.4+ MB

In [5]:
embeddings = []
values_to_match = []
for image in os.listdir('./images'): 
    id = image.split('.')[0]
    id = int(id) 
    values_to_match.append(id) 

df = df.loc[df['id'].isin(values_to_match)]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8181 entries, 0 to 44443
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  8181 non-null   int64
 1   gender              8181 non-null   object
 2   masterCategory      8181 non-null   object
 3   subCategory         8181 non-null   object
 4   articleType         8181 non-null   object
 5   baseColour          8178 non-null   object
 6   season              8181 non-null   object
 7   year                8181 non-null   float64
 8   usage               8173 non-null   object
 9   productDisplayName  8181 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 703.1+ KB

In [ ]:
def generate_row_string(row):
    row_string = "\n".join(f"{col} : {val}" for col, val in row.items())
    return row_string

emb = df.apply(generate_row_string, axis = 1) 

with open('embeddings.txt', 'w') as f:
    for row_string in df['row_string'_]